CHESS_MODEL_PATH=models/champion.onnx
CHESS_VISITS=512
CHESS_MOVETIME_MS=0
CHESS_DEVICE=auto
CHESS_ENGINE_BIN=engine/build/engine
CHESS_DATA_DIR=serve/data
CHESS_CORS_ORIGINS=*
CHESS_WORKERS=32
CHESS_BATCH=32
CHESS_ORT_THREADS=8
CHESS_BUILD_VERSION=